@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@font-face {
  font-family: "BroadwayD";
  src: url("../fonts/BroadwayD.woff2") format("woff2"), url("../fonts/BroadwayD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #a237ff #e0e0e0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #a237ff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  background: #151515;
  box-sizing: border-box;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: color 0.5s;
}
a:hover {
  color: #ab4eff;
}

h1 {
  font-size: 80px;
  font-weight: normal;
}

h2 {
  font-size: 50px;
  font-weight: normal;
}

h3 {
  font-size: 40px;
  font-weight: normal;
}

p {
  font-size: 30px;
}

.header {
  width: 100%;
  height: 100px;
  position: absolute;
}
.header__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.header__logo {
  color: white;
  letter-spacing: 1px;
  transition: letter-spacing 0.5s;
  font-size: 25px;
}
.header__logo:hover {
  color: white;
  letter-spacing: 2px;
}
.header__burger {
  height: 18px;
  width: 40px;
  position: relative;
  cursor: pointer;
}
.header__burger:before, .header__burger:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 15px;
  transition: transform 0.5s, top 0.5s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__links {
  overflow: hidden;
  margin-right: 40px;
  transition: opacity 0.3s;
}
.header__links .links__wrapper {
  transform: translateX(100%);
  transition: transform 0.5s;
}
.header__links .header__link:not(:last-child) {
  margin-right: 20px;
}
.header .open .links__wrapper {
  transform: translateX(0);
}
.header .open .header__burger:before {
  transform: rotate(-45deg);
  top: 9px;
}
.header .open .header__burger:after {
  transform: rotate(45deg);
  top: 9px;
}

/*---- keyframes ---------*/
footer {
  margin-top: 200px;
  height: 300px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main__head {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__head .interactive {
  color: #a237ff;
  position: relative;
}
.main__content .content-section {
  min-height: 100vh;
}
.main__content .content-section .section__wrapper {
  max-width: 1320px;
  padding: 40px 15px 100px;
}
.main .about {
  background-color: #452473;
}
.main .about__content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.main .about__content p {
  max-width: 700px;
}
.main .works {
  background-color: #151515;
}
.main .works .work {
  margin-top: 120px;
  display: flex;
}
.main .works .work__link {
  position: relative;
  z-index: 1;
}
.main .works .work__link:hover .work__desc {
  transform: translateX(0);
}
.main .works .work__photo {
  object-fit: cover;
  object-position: top;
  width: 600px;
  max-height: 700px;
}
.main .works .work .work__desc {
  transform: translateX(-100%);
  margin-left: 60px;
}
.main .works .work__name {
  position: absolute;
  bottom: -50px;
  font-size: 70px;
}
.main .works .work:nth-child(even) .work__name {
  right: -80px;
}
.main .works .work:nth-child(odd) {
  flex-direction: row-reverse;
}
.main .works .work:nth-child(odd) .work__link {
  margin-left: auto;
}
.main .works .work:nth-child(odd) .work__desc {
  transform: translateX(100%);
  margin-right: 60px;
}
.main .works .work:nth-child(odd) .work__name {
  left: -80px;
}
.main .write-me {
  background: #452473;
}
.main .write-me .icon {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
