@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #333333;
  -webkit-perspective: 1000px;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(148, 88, 234, 0);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #6132A4FF;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@keyframes dayNight {
  0% {
    background: #FFE7E7;
  }
  50% {
    background: #2f2929;
  }
  100% {
    background: #FFE7E7;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.header {
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  display: flex;
}
.header__logo {
  font-family: "Comfortaa", cursive;
  margin: auto;
  text-decoration: none;
  color: white;
  transition: 1.5s;
  letter-spacing: 5px;
  font-size: 40px;
}

.sun {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #efff00;
  box-shadow: 1px 2px 10px #efff00;
  position: absolute;
  top: 15%;
  right: 50%;
  animation: sun_moving 10s infinite;
}

@keyframes sun_moving {
  from {
    -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg);
  }
}
.mountains #first, .mountains #second, .mountains #third, .mountains #fourth, .mountains #fifth {
  position: absolute;
}
.mountains #first {
  z-index: 4;
  top: 12%;
  left: 88px;
}
.mountains #second {
  z-index: 2;
  top: 12%;
  left: 70px;
}
.mountains #third {
  top: 13%;
  left: 150px;
}
.mountains #fourth {
  top: 12%;
  right: 100px;
}
.mountains #fifth {
  z-index: 2;
  top: 13%;
  right: 300px;
}
@keyframes moving_man {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.main {
  z-index: 100;
  max-width: 1440px;
  margin: 40% 50px 0;
  height: 3420px;
  background-color: #554872;
  border-radius: 10px;
  transition: 1.3s;
}
.main .greeting {
  padding: 200px;
  display: flex;
  flex-direction: column;
  color: white;
}
.main .greeting__title {
  margin-bottom: 60px;
  font-weight: 400;
}
.main .greeting__subtitle {
  font-weight: 400;
}
.main .first {
  align-items: end;
}
.main .second {
  align-items: start;
}
.main .portfolio {
  align-items: end;
}
.main .portfolio > h1 {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 10px;
}
.main .works-empty {
  color: white;
  display: flex;
  justify-content: center;
}
.main .works {
  margin: 50px 100px;
}
.main .works .works-item {
  margin-top: 100px;
}
.main .works .works-item__photo {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.main .works .works-item__desc {
  color: white;
}
.main:hover {
  box-shadow: 1px 2px 10px black;
  transition: 1.3s;
}

footer {
  margin-top: 200px;
  height: 300px;
  text-align: center;
}
footer .social-media .social-media__title {
  color: white;
  margin-bottom: 20px;
}
footer .social-media .social-media__icons {
  display: flex;
  justify-content: center;
}
footer .social-media .social-media__icons .social-media__item {
  margin-right: 15px;
  background-color: white;
  border-radius: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}
footer .social-media .social-media__icons .social-media__item:hover {
  background-color: black;
  transition: background-color 0.5s;
}
footer .social-media .social-media__icons .social-media__item:hover svg {
  fill: white;
  transition: fill 0.5s;
}

/*--------------------- for tests ----------------------------*/
.works-list .works-list_item {
  overflow: hidden;
}
.works-list .works-list_item .works-item_title {
  cursor: pointer;
}
.works-list .works-list_item .works-list_limiter {
  max-height: 0;
}
.works-list .works-list_item .open_list {
  max-height: min-content;
}

/*# sourceMappingURL=style.css.map */
