.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main {
  &__head {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .interactive {
      color: #a237ff;
      position: relative;
    }
  }

  &__content {
    .content-section {
      min-height: 100vh;

      .section__wrapper {
        margin: 0 auto;
        max-width: 1320px;
        padding: 40px 15px 100px;

        .section__header {
          margin-bottom: 100px;
        }
      }
    }
  }

  .about {
    background-color: #452473;

    &__content {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      p {
        max-width: 700px;
      }
    }
  }

  .works {
    background-color: #151515;
    padding-bottom: 100px;

    .work {
      display: flex;
      align-items: center;

      &-correction {
        color: #989797;
      }

      &__link {
        position: relative;
        display: flex;
      }

      &__photo {
        object-fit: cover;
        object-position: top;
        width: 700px;
        max-height: 700px;
      }

      &__desc {
        position: relative;

        h3, p {
          color: white;
        }

        span {
          border-radius: 5px;
          padding: 0 10px;
          background-color: #3cb081;
        }

        .without-link {
          color: #ee9696;
        }
      }

      &__stack {
        margin-top: 30px;

        span {
          background-color: #4194c0;
        }
      }

      &__name {
        position: absolute;
        bottom: -70px;
        font-size: 70px;
        z-index: 1;
      }

      &:nth-child(even) {
        .work__name {
          right: -80px;
        }
        .work__desc {
          margin-left: 50px;
        }
      }

      &:nth-child(odd) {
        flex-direction: row-reverse;
        .work__link {
          margin-left: auto;
        }
        .work__desc {
          margin-right: 50px;
        }
        .work__name {
          left: -80px;
        }
      }

      & ~ .work {
        margin-top: 160px;
      }
    }
  }

  .write-me {
    height: 100vh;
    background: #452473;

    .section__wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__header {
      z-index: 2;
    }

    &__contacts {
      display: flex;
      grid-gap: 40px;
      transform: translateY(-120%);
      transition: transform .5s;
    }

    &__hover {
      position: relative;
      &:hover {
        .write-me__contacts {
          transform: translateY(0);
        }
      }
    }

    &__contacts {

    }
  }
}
