.header {
  width: 100%;
  height: 100px;
  position: absolute;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  &__logo {
    color: white;
    letter-spacing: 1px;
    transition: letter-spacing 0.5s;
    font-size: 25px;

    &:hover {
      color: white;
      letter-spacing: 2px;
    }
  }

  &__burger {
    height: 18px;
    width: 40px;
    position: relative;
    cursor: pointer;
    z-index: 3;

    &:before, &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: white;
      border-radius: 15px;
      transition: transform 0.5s, top 0.5s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__links {
    overflow: hidden;
    margin-right: 40px;
    transition: opacity 0.3s;

    .links__wrapper {
      transform: translateX(100%);
      transition: transform .5s;
    }

    .header__link {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }


  .open {
    @media (min-width: 768px) {
      .links__wrapper {
        transform: translateX(0);
      }
    }

    .header__burger {
      &:before {
        transform: rotate(-45deg);
        top: 9px;
      }

      &:after {
        transform: rotate(45deg);
        top: 9px;
      }
    }
  }


  @media (max-width: 767px) {
    &__wrapper {
      padding-right: 15px;
      padding-left: 15px;
    }

    &__links {
      display: flex;
      position: fixed;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #5613b4;
      z-index: 2;
      transform: translateX(100%);
      padding: 50px;
      transition: transform .5s ease-in-out;

      .links__wrapper {
        display: flex;
        transform: translateX(0);
        flex-direction: column;
        align-items: center;

        a {
          font-size: 50px;
        }
      }
    }

    .open {
      .header__links {
        transform: translateX(0);
      }
    }
  }
}

/*---- keyframes ---------*/
