.content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0 20px;

  .image {
    border-radius: 160px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  h3 {
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 100px;
    letter-spacing: 7px;
  }

  p {
    font-size: 35px;
    font-weight: 600;
  }
}
