.section {
  display: flex;
  flex-direction: column;

  .content {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 200px;
  }

  @media ($media-sm) {
    .content {
      margin-top: 40px;
      gap: 80px;
    }
  }
}
