.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main {
  &__head {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .interactive {
      color: #a237ff;
      position: relative;
    }
  }

  &__content {
    .content-section {
      min-height: 100vh;

      .section__wrapper {
        margin: 0 auto;
        max-width: 1320px;
        padding: 40px 15px 100px;

        .section__header {
          margin-bottom: 100px;
        }
      }
    }
  }

  .about {
    background-color: #5613b4;

    &__content {
      height: 100%;
      display: flex;
      margin-top: 50px;
      grid-column-gap: 50px;

      p {
        max-width: 700px;
      }
    }
    &__description {
      margin-bottom: 20px;
    }
    p {
      span {
        white-space: nowrap;
        background: #3cb081;
        padding: 0 10px;
        border-radius: 5px;
      }
    }
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__right {
      img {
        object-fit: contain;
        width: 500px;
      }
    }
  }

  .works {
    background-color: #151515;
    padding-bottom: 100px;

    .work {
      display: flex;
      align-items: center;

      &-correction {
        color: #989797;
      }

      &__link {
        position: relative;
        display: flex;

        &:hover {
          .work__photo {
            transform: scale(1.05);
          }
        }
      }

      &__photo {
        object-fit: cover;
        object-position: top;
        width: 700px;
        max-height: 690px;
        transition: transform 1s;
      }

      &__desc {
        position: relative;

        h3, p {
          color: white;
        }

        span {
          white-space: nowrap;
          border-radius: 5px;
          padding: 0 10px;
          background-color: #3cb081;
        }

        .without-link {
          color: #ee9696;
        }
      }

      &__stack {
        margin-top: 30px;

        span {
          white-space: nowrap;
          background-color: #4194c0;
        }
      }

      &__name {
        position: absolute;
        bottom: -70px;
        font-size: 70px;
        z-index: 1;
      }

      &:nth-child(even) {
        .work__name {
          right: -80px;
        }
        .work__desc {
          margin-left: 50px;
        }
      }

      &:nth-child(odd) {
        flex-direction: row-reverse;
        .work__link {
          margin-left: auto;
        }
        .work__desc {
          margin-right: 50px;
        }
        .work__name {
          left: -80px;
        }
      }

      & ~ .work {
        margin-top: 200px;
      }
    }
  }

  .write-me {
    height: 100vh;
    background: #5613b4;

    .section__wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    &__1 {
      display: flex;
      font-size: 65px;
      position: relative;
    }
    p {
      font-size: 18px;
      color: #989797;
    }
    &__2 {
      font-size: 30px;
    }
  }
  
  @media (max-width: 1440px) {
    &__content {
      .content-section {
        .section__wrapper {
          max-width: 1200px;
        }
      }
    }
  }

  @media (max-width: 1260px) {
    &__content {
      .content-section {
        .section__wrapper {
          max-width: 960px;
        }
      }
    }
    .about {
      &__right {
        img {
          width: 300px;
        }
      }
    }
    .works {
      .work {
        &__name {
          font-size: 50px;
          bottom: -50px;
        }
        &__photo {
          max-height: 500px;
          width: 500px;
        }
        &:nth-child(odd) {
          .work__desc {
            margin-right: 20px;
          }
        }
        &:nth-child(even) {
          .work__desc {
            margin-left: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 890px) {
    .works {
      .work {
        flex-direction: column;

        &__desc {
          margin-top: 50px;
        }

        &:nth-child(even) {
          .work__desc {
            margin-left: 0;
          }
        }

        &:nth-child(odd) {
          flex-direction: column;

          .work__link {
            margin-right: auto;
          }
          .work__desc {
            margin-right: 0;
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    &__head {
      h1 {
        padding: 0 10px;
        text-align: center;
      }
    }
    .content-section {
      min-height: unset;

      .section__wrapper {
        padding: 30px 15px 30px;

        .section__header {
          margin-bottom: 40px;
        }
      }
    }
    .about {
      &__content {
        flex-direction: column-reverse;
      }
      &__left {
        p {
          br {
            display: none;
          }
        }
      }
      &__right {
        margin-bottom: 30px;
      }
    }
    .works {
      padding-bottom: 0;
      .work {
        &__link {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        &__photo {
          width: 100%;
          max-height: 500px;
        }
        &__desc {
          margin-top: 0;
        }
        &__stack {
          margin-top: 10px;
        }
        &:nth-child(even) {
          .work__name {
            position: static;
            right: 0;
            line-height: 1.1;
          }
        }
        &:nth-child(odd) {
          .work__name {
            left: 0;
            position: static;
            line-height: 1.1;
          }
        }

        & ~ .work {
          margin-top: 50px;
        }
      }
    }
    .write-me {
      .section__wrapper {
        padding: 0;
      }
      &__1 {
        font-size: 40px;
      }
      &__2 {
        font-size: 19px;
      }
    }
  }
}


