@font-face {
    font-family: 'BroadwayD';
    src: url('BroadwayD.woff2') format('woff2'),
        url('BroadwayD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

