:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  color: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
}

body {
  color: rgb(var(--foreground-rgb));
  background: $primary-color;
}

.section {
  width: 100%;
  margin-bottom: 290px;

  @media ($media-sm) {
    margin-bottom: 150px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 1540px) {
    padding: 0 50px;
  }
  @media ($media-sm) {
    padding: 0 10px;
  }
}
